body,
html {
  background-color: white;
  height: 100%;
  margin: auto;
  display: flex;
}
#container {
  display: flex;
  flex-direction: column;
  background-color: lavender;
  max-height: 400px;
  max-width: 800px;
  border-radius: 5px;
  margin: auto;
  box-shadow: 3px 3px 5px lightseagreen;
}
#date {
  margin: 50px;
  text-align: center;
  font-size: 5vw;
}
#time {
  background-color: ivory;
  font-size: 7vw;
  margin: 50px;
  border-radius: 3px;
  text-align: center;
}

@media (max-width: 650px) {
  #date,
  #time {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  #date {
    font-size: 3vw;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #time {
    font-size: 5vw;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
