body, html {
    background-color: white;
    height: 100%;
    margin: auto;
    display: flex;
}
#container {
    display: flex;
    flex-direction: column;
    background-color: lavender;
    min-height: 400px;
    max-width: 800px;
    border-radius: 5px;
    margin: auto;
    box-shadow: 3px 3px 5px lightseagreen;
}
#date {
    height: 60px;
    width: 600px;
    margin: auto;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
}
#time {
    background-color: ivory;
    font-size: 80px;
    height: 100px;
    width: 500px;
    margin: auto;
    border-radius: 3px;
    text-align: center;
}
